.logo{
    position:fixed;
    left: 30%;
    right:50%;
    top:15%;
}

.search_form{
    position: relative;
    left: 50%;
 
}

.nav_right{
	position:fixed;
	margin:0;
	padding:0;
	right:0%;
	top:0%;
	list-style-type:none;
}

li{
	display:inline;
}